Flask==1.1.1
virtualenv==16.7.7
gunicorn==19.7.1
schedule==0.6.0
dnspython==1.16.0
Flask-PyMongo==2.3.0
beautifulsoup4==4.8.2
requests==2.23.0
pymongo==3.10.1
selenium==3.141.0
APScheduler==3.0.0
flasgger==0.9.4